footer a, footer p {
  color: #ccc;
  font-size: 14px;
  letter-spacing: 1px;
}

#footer-column {
  display: flex;
}

.trademark {
  justify-content: flex-start;
  flex-grow: 1;
}

.trademark p {
  width: inherit;
}

.links {
  justify-content: center;
  flex-grow: 3;
}

.development {
  justify-content: flex-end;
}


#footer-column.set-paddings {
  padding-bottom: 10px;
  padding-top: 10px;
}


footer {
width: 100%;
background: #464646;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 200px;
}


footer p, .ul-foot {
color: #ccc;
}

footer div,ul {
  margin: 0;
  padding: 0;
}

p,a {
  line-height: 28px;
  margin: 0;
  padding: 0;
}

i {
  color: white;
  float: right;
}

@media all and (max-width: 990px) {
  .horizontal {
      flex-direction: column;
  }
  .slash {
      display: none;
  }
}

@media all and (max-width: 740px) {
  #new-flex {
      flex-direction: column;
  }

  #content-products {
      display: flex;
      justify-content: center;
  }
}

@media all and (min-width: 905px) {

  #company-name {
      flex-grow: 1;

  }

  .links {
      flex-grow: 1;
  }
}

@media all and (max-width: 669px) {

  .set-paddings {
      padding-left: 50px;
      padding-right: 50px;
  }
}

@media all and (max-width: 838px) {

  #phone {
      margin-top: 15px;
  }
}

@media all and (max-width: 740px) {
  .cards {
      justify-content: center;
  }

}

@media all and (min-width: 1370px) {
  .set-paddings {
      max-width: 1200px;
      margin: 0 auto;
  }
}


@media all and (max-width: 1000px) {
  #footer-column, #abzatsy {
      flex-direction: column;
  }

  #abzatsy {
      justify-content: center;
  }

  #text1, #text2 {
      padding: 0;
      width: inherit;
  }

  #text2 {
      padding-top: 20px;
  }

  #footer-column div {
      padding: 20px;
  }
}

